# Secrets
.env
.env.*
*.env

# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Build artifacts
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db

# Local Netlify folder
.netlify
